body{
  overflow-x: hidden;
}
.banner{
  background-image:url('../../../images/banner.webp');
  padding-top: 200px;
  padding-bottom: 300px;
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.banner a{
text-decoration: none;
font-weight: bold;
}


.custom-btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 150px;
  cursor: pointer;
  margin-top: 30px;
}
.btn-three {
  color: #fff;
  transition: all 0.5s;
  
  position: relative;
  font-family: 'Raleway', sans-serif;
  background-color: rgb(230, 22, 22);
}
.btn-three:hover {
  color: #333;
  transition: all 0.5s;
  position: relative;
  background-color: white;
}
.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(233, 23, 23, 0);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 2px solid rgba(255, 0, 0, 0.507);
  transform: scale(1.2,1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1,1);
}